[submodule ".vim/bundle/vim-pathogen"]
	path = .vim/bundle/vim-pathogen
	url = https://github.com/tpope/vim-pathogen.git
[submodule ".vim/bundle/vim-pandoc"]
	path = .vim/bundle/vim-pandoc
	url = https://github.com/vim-pandoc/vim-pandoc.git
[submodule ".vim/bundle/ctrlp.vim"]
	path = .vim/bundle/ctrlp.vim
	url = https://github.com/ctrlpvim/ctrlp.vim.git
[submodule ".vim/bundle/vim-fugitive"]
	path = .vim/bundle/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule ".vim/bundle/vim-monochrome"]
	path = .vim/bundle/vim-monochrome
	url = https://github.com/fxn/vim-monochrome.git
[submodule ".vim/bundle/vim-latex"]
	path = .vim/bundle/vim-latex
	url = https://github.com/vim-latex/vim-latex.git
